<div class="nav">
    <img class="logo" src="../../assets/mmlogokleinweiss.png" alt="Logo" (click)="rs.scrollTo('home')">
    <nav class="navcategories">
        <a class="element" (click)="rs.scrollTo('home')">Home</a>
        <a class="element" (click)="rs.scrollTo('about')">About</a>
        <a class="element" (click)="rs.scrollTo('skills')">Skills</a>
        <a class="element" (click)="rs.scrollTo('education')">Education</a>
        <a class="element" (click)="rs.scrollTo('contact')">Contact</a>
    </nav>
</div>
